*{
  margin:0;
  padding:0;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:12px;
}

body{
  padding-bottom:25px;   /* Height of the footer */
  margin:0;
  padding:0;
  background:#000;
  width:100%;
  height:100%;
  color:#FFF;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:12px;
}

#container {
    min-height:100%;
    position:relative;
}
a:link {font-family: inherit; font-size: inherit; color:#FF7C00;}      /* unvisited link */
a:visited {font-family: inherit; font-size: inherit; color:#A65100;}  /* visited link */
a:hover {font-family: inherit; font-size: inherit; color:#FFB773;}  /* mouse over link */
a:active {font-family: inherit; font-size: inherit; color:#FFB773;}  /* selected link */

.t21{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:21px;
}

.t18{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:18px;
}
.t16{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:16px;
}
.t14{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:14px;
}
#caption{
  margin:0;
  padding:0;
  color: #FEFEFE;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.topcap
{
	color: #999999;
	width: 100%; 
	margin: 0px auto; 
	text-align: left;
}

.renderbox{
    width: 100%;
    vertical-align: top;
    text-align: right;
    position: relative;
}

#canvas1{
    border: solid 1px grey;
}

#canvas2{
    border: solid 1px grey;
}

#canvas3{
}

.top1{
  width: 100%;
  background:#333;
  padding: 5px 0 5px 8px;
  border-bottom:1px dotted #DBDBDB;
}

.top2{
  width: 100%;
  background:#333;
  padding: 5px 0 5px 8px;
  border-bottom:1px solid #EFEFEF;
}

#HeaderTable
{
    border: solid 1px grey;
	width: 100%;
	font-size: 10px;
	text-align: center;
}

#HeaderTable3 tr:nth-child(odd) td
{
	color: #000000;
	background-color: #575757; 
}

#HeaderTable3 tr:nth-child(odd) td
{
	color: #000000;
	background-color: #FAFAFA; 
}

#HeaderTable th
{
	color: #000000;
	background-color: #EFEFEF;
	font-weight: bold;
}
	
.left {
    overflow: hidden;
}

  #progress_bar {
    width: 75%;
    margin: 10px 0;
    padding: 3px;
    border: 1px dashed #FFFFFF;
    font-size: 14px;
    clear: both;
    opacity: 0;
	text-align: center;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;

  }
  #progress_bar.loading {
    opacity: 1.0;
	text-align: center;
  }
  #progress_bar .percent {
    background-color: #232352;
    height: auto;
    width: 0;
	text-align: center;
  }

.footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:25px;   /* Height of the footer */
    background:#333;
    text-align: center;	
    border-top: 1px solid white;
}

		#load_meter { 
			padding: 10px;
			height: 20px;  /* Can be anything */
			position: relative;
			margin: 0px 0 0px 0; /* Just for demo spacing */
			background: #000000;
		}
		#load_meter > span {
			display: block;
			height: 100%;
			   -webkit-border-top-right-radius: 8px;
			-webkit-border-bottom-right-radius: 8px;
			       -moz-border-radius-topright: 8px;
			    -moz-border-radius-bottomright: 8px;
			           border-top-right-radius: 8px;
			        border-bottom-right-radius: 8px;
			    -webkit-border-top-left-radius: 20px;
			 -webkit-border-bottom-left-radius: 20px;
			        -moz-border-radius-topleft: 20px;
			     -moz-border-radius-bottomleft: 20px;
			            border-top-left-radius: 20px;
			         border-bottom-left-radius: 20px;
			background-color: rgb(43,194,83);
			background-image: -webkit-gradient(
			  linear,
			  left bottom,
			  left top,
			  color-stop(0, rgb(43,194,83)),
			  color-stop(1, rgb(84,240,84))
			 );
			background-image: -moz-linear-gradient(
			  center bottom,
			  rgb(43,194,83) 37%,
			  rgb(84,240,84) 69%
			 );
			-webkit-box-shadow: 
			  inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
			-moz-box-shadow: 
			  inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
			box-shadow: 
			  inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
			position: relative;
			overflow: hidden;
		}

		@-webkit-keyframes move {
		    0% {
		       background-position: 0 0;
		    }
		    100% {
		       background-position: 50px 50px;
		    }
		}

#spinner{
	border-color: white;
	border: 1px solid;
	font-family: Trebuchet MS;
	font-size: 18px;
	margin: 0em;
	color: #FFFEFE;
	background-color: #000000;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -50px; /* half width of the spinner gif */
	margin-top: -50px; /* half height of the spinner gif */
	text-align:center;
	z-index:1234;
	width: 400px; 
	//height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
}

#percents_loaded{
	font-family: Trebuchet MS;
	font-size: 18px;
	margin: 0em;
	color: #FFFEFE;
	background-color: #000000;
}
