* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Kumbh Sans', sans-serif;
}

#navbar {
	background: #131313;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	position: sticky;
	top: 0;
	z-index: 999;
}

.navbar_container {
	display: flex;
	justify-content: space-between;
	height: 80px;
	z-index: 1;
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 50px;
}

#navbar_logo {
	background-color: #ff1877;
	background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
	background-size: 100%;
	display: flex;
	align-items: center;
	cursor: pointer;
	text-decoration: none;
	font-size: 1.5rem;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

.navbar_menu {
	display: flex;
	align-items: center;
	list-style: none;
	text-align: center;
	margin: 0;
}

.navbar_item {
	height: 80px;
}

.navbar_link {
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	padding: 0 1rem;
	height: 100%;
	font-size: 12px;
	white-space: nowrap;
}

.navbar_link:hover {
	color: #f77062;
	transition: all 0.5s ease;
}

.navbar_button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1rem;
	width: 100%;
}

.login_button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	padding: 10px 20px;
	height: 100%;
	width: 100%;
	border: none;
	outline: none;
	border-radius: 4px;
	background: #f77062;
	color: #fff;
}

.login_button:hover {
	background: #4837ff;
	transition: all 0.3s ease;
}

.row {
	clear: both;
}

.col {
	background: #333;
	border-radius: 5px;
	color: white;
	float: left;
	margin: 0.5%;
	padding: 10px 0.5%;
	width: 31%;
}

#top {
	border-style: solid;
	border-width: 5px;
}

.upload_submit_render {
	border-style: solid;
	border-width: 5px;
	margin: 5px;
}

.container_googlemap {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

iframe {
	width: 80%;
	height: 500px;
	filter: invert(100%);
}

footer {
	clear: both;
}